#page-landing-login {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background: var(--color-primary);
}


.logo-login-container h1 {
    height: 10rem;
    font: 700 8.0rem Orbitron;
    margin-bottom: 2.5rem;
    color: var(--color-secundary);
    overflow: hidden;

    animation: LoginAnimation 1s;
    animation-fill-mode: backwards;
}

.hero-image-landing {
    width: 100%;
    overflow: hidden;

    animation: heroAnimation 1s;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
}

.logo-login-container {
    text-align: center;
    margin-bottom: 3.2rem;

    
}

.logo-login-container h2 {
    font-weight: 500;
    line-height: 4.6rem;
    margin-top: 0.8rem;
    font: 2.4rem Orbitron;
    color: var(--color-secundary);

    animation: LoginAnimation 2s;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
}


@media(min-width: 1100px) {
    #page-landing-login-content {
        max-width: 1100px;

        display: grid;
        grid-template-rows: 350px 1fr;
        grid-template-columns: 2fr 2fr;
        grid-template-areas: 
            "logo logo"
            "login hero"
        ;
    }

    .logo-login-container {
        grid-area: logo;
        align-self: center;
        text-align: left;
        margin: 0;
    }

    .logo-login-container h2 {
        text-align: center;
        font-size: 3.6rem;
    }

    .logo-login-container h1 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-image {
        grid-area: hero;
        justify-self: end;
        
    }

    .login-container {
        grid-area: login;
    }


}

/* Animações */

@keyframes LoginAnimation {
    from {
        opacity: 0;
        transform: scale(0.9);
    }to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes heroAnimation {
    from {
        opacity: 0;
        transform: translateX(35%);
    }to {
        opacity: 1;
        transform: translateX(0%);
    }

}